*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.container{
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

header .container{
    align-items: center;
    padding: 0;
}

main .container{
    align-items: center;
}

header, main, footer{
    display: flex;
    justify-content: center;
    flex: 1 1 100vw;
    background: #e8e7e7;
}

header{
    width: 100%;
    top: 0;
    position: sticky;
    box-shadow: 0px 19px 29px -12px rgba(0,0,0,0.75);
    
    .icon-menu-abrir{
        display: none;
    }

    nav{
        display: flex;
        align-items: center;
    }

    .logo{
        flex: 1 1 0vw;
        
        .logo-do-header img{
            width: 200px;
        }
    }

    .menu{
        flex-wrap: wrap;
        flex: 1 1 30vw;
        display: flex;
        justify-content: space-around;

        .icon-menu-fechar{
            display: none;
        }

        a{
            display: flex;
            text-align: center;
            font-size: 1.5rem;
            color: #063c13;

            .whatsapp-do-faleComUmEspecialista{
                width: 30px;
                margin-left: 8px;
            }
        }

        a:hover{
            color: #039525;
        }
    }
    
    .outros-links-do-header{
        flex: 1 1 0vw;
        display: flex;
        justify-content: end;
    
        a{
            margin-left: 8px;
        }

        .icon-midia img{
            width: 35px;
        }

        .logo-do-header img{
            width: 200px;
        }
    }
}

.hero-main{
    padding: 120px 0;
    background: linear-gradient(to top, #008000eb, rgba(0, 128, 0, 0.055)), url(../img/empilhadeira-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero{
        width: 40%;
    }
    
    color: white;
    
    h1{
        font-size: 5rem;
        margin-bottom: 50px;
    }

    p{
        font-size: 2rem;
    }
}

main{
    padding: 50px;
}

.componentes{
    width: 100%;
    
    h3{
        font-size: 3rem;
        margin-bottom: 70px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid;
    }

    form{
        margin-bottom: 70px;
        width: 50%;
        display: flex;
        align-items: center;
        input[type="text"]{
            width: 70%;
            padding: 10px;
            font-size: 1.4rem;
            outline: none;
            background: whitesmoke;
        }
        
        input[type="submit"]{
            font-size: 1.4rem;
            width: 20%;
            padding: 10px;
            outline: none;
            background: whitesmoke;
            cursor: pointer;
        }
    }

    .cards{
        padding: 15px;
        flex-wrap: wrap;
        flex: 1 1 100vw;
        display: flex;
        justify-content: center;

        .card{
            margin: 15px;
            background: #ecebeb;
            box-shadow: -1px 9px 20px -16px rgba(0,0,0,0.75);
            width: 340px;
            max-width: 340px;
            height: 400px;
            max-height: 400px;
            border-radius: 20px;
            overflow: hidden;

            .ilustracao{
                height: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }

            .inferior{
                padding: 25px;
                height: 50%;
                display: flex;
                flex-direction: column;

                .sobre{

                    h4{
                        font-size: 1.2rem;
                        margin-bottom: 8px;
                        
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        line-clamp: 2;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                    
                    p{
                        font-size: 1rem;
                        color: #000000d4;

                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        line-clamp: 3;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                    }
                }

                .interagir{
                    margin-top: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    a{
                        font-size: 1rem;
                        font-weight: 100;
                        color: black;
                        border-bottom: 2px solid;
                    }

                    button{
                        padding: 5px;
                        border-radius: 8px;
                        border: 1px solid;
                        font-size: 1rem;
                        cursor: pointer;
                    }

                    button:hover{
                        background: #039525;
                        color: white;
                    }
                }
            }
        }
    }
}

footer{
    background: none;
    background: #006a05;
    padding: 20px 0;

    .ver-mais-e-titulo{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img{
            width: 30px;
        }

        h3{
            margin-left: 10px;
            font-size: 2.3rem;
            font-weight: 100;
        }
    }

    .descricao{
        background: #039525;
        padding: 30px;
        font-size: 1.3rem;
        border-radius: 10px;
    }
}

@media(max-width: 1520px){
    header{
        padding: 25px;
        .menu{
            flex: 1 1 40vw;
        }
    }

    .hero-main{
        padding: 80px 20px;

        .hero{
            width: 50%;
        }
    }

    .componentes{
        form{
            width: 55%;
        }
    }
}

@media (max-width: 1300px){

    header{
        padding: 15px;

        .icon-menu-abrir{
            cursor: pointer;
            display: flex;
            flex: 0.4 1 0vw;
            align-items: center;
            
            img{
                width: 23px;
            }
        }

        .logo{
            display: flex;
            justify-content: start;

            .logo-do-header img{
                width: 200px;
            }
        }

        .menu{
            position: fixed;
            width: 250px;
            height: 100vh;
            top: 0;
            left: 0;
            background: #ffffff;
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            transform: translateX(-100%);
            opacity: 0;
            pointer-events: none;
            transition: transform 0.5s ease, opacity 0.5s ease;

            .icon-menu-fechar{
                display: flex;
                margin-bottom: 30px;

                img{
                    width: 23px;
                }
            }

            a{
                font-size: 1.1rem;
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                text-align: start;
                justify-content: flex-start;
                
                width: 100%;
                padding: 0;

                .whatsapp-do-faleComUmEspecialista{
                    width: 25px;
                    margin-right: 10%;
                }
            }
        }

        .menu.on{
            transform: translateX(0);
            opacity: 1;
            pointer-events: auto;
        }

        .outros-links-do-header{
            justify-content: center;

            .icon-midia img{
                width: 20px;
            }

            .logo-do-header img{
                width: 200px;
            }
        }
    }

    .hero-main{
        h1{
            font-size: 3.5rem;
            margin-bottom: 30px;
        }

        p{
            font-size: 1.5rem;
        }
    }

    .componentes{
        form{
            width: 85%;
            justify-content: center;
        }
    }
}

@media(max-width: 611px){

    header{
        .logo{
            .logo-do-header img{
                width: 120px;
            }
        }

        .outros-links-do-header{
            .logo-do-header img{
                width: 120px;
            }
        }
    }

    .hero-main{
        padding: 50px 0;

        .hero{
            width: 90%;
        }

        h1{
            font-size: 2.5rem;
            margin-bottom: 30px;
        }

        p{
            font-size: 1.5rem;
        }
    }

    main{
        padding: 2px;
    }

    .componentes{
        padding: 0;

        h3{
            font-size: 2rem;
            margin-bottom: 40px;
        }

        form{
            width: 100%;
            flex-direction: column;
            gap: 10px;

            input[type="text"]{
                width: 100%;
                font-size: 1.1rem;
            }

            input[type="submit"]{
                width: 100%;
                font-size: 1.1rem;
            }
        }

        .cards{
            padding: 0;
            justify-content: space-between;

            .card{
                width: 48%;
                max-width: 48%;
                margin: 6px 0;
                height: auto;
                max-height: none;

                .ilustracao{
                    height: 45%;
                }

                .inferior{
                    padding: 10px;

                    .sobre{
                        h4{
                            font-size: 0.95rem;

                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            overflow: hidden;
                        }

                        p{
                            margin-top: 7px;
                            font-size: 0.75rem;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            overflow: hidden;
                        }
                    }

                    .interagir{
                        flex-direction: column;
                        gap: 6px;
                        margin-top: 15px;

                        a{
                            font-size: 0.85rem;
                        }

                        button{
                            font-size: 0.9rem;
                            padding: 4px 6px;
                        }
                    }
                }
            }
        }
    }

}
